<fieldset>
	<legend><img src="/assets/cadeado.png" width="70" height="60"></legend>
	
 <p align="left"><h2><b>LOGIN:</b></h2></p>	
	
<%= form_tag sessions_path do %>
    
<table cellspacing="5" align='center'>
  <tr align="left">
    <td><%= label_tag :email %><br />
    <%= text_field_tag :email, params[:email], :autofocus => true %></td>
  <tr align="left">
    <td><%= label_tag :password %><br />
    <%= password_field_tag :password %></td>
  </tr>
  </table>
  <p align="left"></p>	

<p>  email: siga@siga.com   |   password: siga2012 </p>
    <p class="button"><%= submit_tag "Acesso" %></p>
  <% end %>
</fieldset>